.vs/
.vscode/
AAEmu.Commons/obj/
AAEmu.Editor/obj/
AAEmu.Game/obj/
AAEmu.Login/obj/
AAEmu.Tests/obj/

.idea/
AAEmu.Commons/bin/
AAEmu.Commons/obj/
AAEmu.Editor/bin/
AAEmu.Editor/obj/
AAEmu.Game/bin/
AAEmu.Game/obj/
AAEmu.Login/bin/
AAEmu.Login/obj/
AAEmu.Tests/bin/
AAEmu.Tests/obj/
AAEmu.Tests/TestResults/
AAEmu.Game/Data/compact.sqlite3
AAEmu.Game/Data/Worlds/*/hmap.dat
AAEmu.Game/Config.json
AAEmu.Login/Config.json
publish/
*.old
*.cd
/AAEmu.Editor/obj/AAEmu.Editor.csproj.nuget.dgspec.json
/AAEmu.Editor/obj/AAEmu.Editor.csproj.nuget.g.props
/AAEmu.Editor/obj/AAEmu.Editor.csproj.nuget.g.targets
/AAEmu.Editor/obj/project.assets.json
/AAEmu.Editor/obj/project.nuget.cache
/AAEmu.Editor/obj/AAEmu.Editor.csproj.nuget.dgspec.json
/AAEmu.Editor/obj/AAEmu.Editor.csproj.nuget.g.props
/AAEmu.Editor/obj/AAEmu.Editor.csproj.nuget.g.targets
/AAEmu.Editor/obj/project.assets.json
/AAEmu.Editor/obj/project.nuget.cache
